App_WebReferences/UBLValidator/ValidationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ValidationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ublvalidation.winfinans.dk/ValdationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ublvalidation.winfinans.dk/ValdationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUBLValidation_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IUBLValidation_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IUBLValidation_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IUBLValidation_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IUBLValidation_ValidateUBL_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUBL" />
  </wsdl:message>
  <wsdl:message name="IUBLValidation_ValidateUBL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUBLResponse" />
  </wsdl:message>
  <wsdl:portType name="IUBLValidation">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IUBLValidation/HelloWorld" message="tns:IUBLValidation_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUBLValidation/HelloWorldResponse" message="tns:IUBLValidation_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IUBLValidation/Ping" message="tns:IUBLValidation_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUBLValidation/PingResponse" message="tns:IUBLValidation_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateUBL">
      <wsdl:input wsaw:Action="http://tempuri.org/IUBLValidation/ValidateUBL" message="tns:IUBLValidation_ValidateUBL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUBLValidation/ValidateUBLResponse" message="tns:IUBLValidation_ValidateUBL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUBLValidation" type="tns:IUBLValidation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IUBLValidation/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IUBLValidation/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateUBL">
      <soap:operation soapAction="http://tempuri.org/IUBLValidation/ValidateUBL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidationService">
    <wsdl:port name="BasicHttpBinding_IUBLValidation" binding="tns:BasicHttpBinding_IUBLValidation">
      <soap:address location="http://ublvalidation.winfinans.dk/ValdationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>