App_WebReferences/wf_rep/WFReports.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="WFReports" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IWFReports_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://report.winfinans.net/WFReports.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://report.winfinans.net/WFReports.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWFReports_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IWFReports_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_RegLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:RegLicense" />
  </wsdl:message>
  <wsdl:message name="IWFReports_RegLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AccBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:AccBalance" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AccBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AccStatement_InputMessage">
    <wsdl:part name="parameters" element="tns:AccStatement" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AccStatement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccStatementResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AccStatementOne_InputMessage">
    <wsdl:part name="parameters" element="tns:AccStatementOne" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AccStatementOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccStatementOneResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AccBalanceCost_InputMessage">
    <wsdl:part name="parameters" element="tns:AccBalanceCost" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AccBalanceCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccBalanceCostResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddList" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddListResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBalance" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddStatement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStatement" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddStatement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatementResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddStatementOne_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStatementOne" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddStatementOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatementOneResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddStatementMaillist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStatementMaillist" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddStatementMaillist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatementMaillistResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddStatementOneKeylist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStatementOneKeylist" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddStatementOneKeylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatementOneKeylistResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddReminder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReminder" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddReminder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReminderResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddReminderOne_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReminderOne" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddReminderOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReminderOneResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddSalesOne_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesOne" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddSalesOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesOneResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddSalesMaillist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesMaillist" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddSalesMaillist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesMaillistResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_SaOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaOrder" />
  </wsdl:message>
  <wsdl:message name="IWFReports_SaOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_SaOrder3in1_InputMessage">
    <wsdl:part name="parameters" element="tns:SaOrder3in1" />
  </wsdl:message>
  <wsdl:message name="IWFReports_SaOrder3in1_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaOrder3in1Response" />
  </wsdl:message>
  <wsdl:message name="IWFReports_PuOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PuOrder" />
  </wsdl:message>
  <wsdl:message name="IWFReports_PuOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PuOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_InvLists_InputMessage">
    <wsdl:part name="parameters" element="tns:InvLists" />
  </wsdl:message>
  <wsdl:message name="IWFReports_InvLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvListsResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddSalesStats_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesStats" />
  </wsdl:message>
  <wsdl:message name="IWFReports_AddSalesStats_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSalesStatsResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReports_PrAssembly_InputMessage">
    <wsdl:part name="parameters" element="tns:PrAssembly" />
  </wsdl:message>
  <wsdl:message name="IWFReports_PrAssembly_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrAssemblyResponse" />
  </wsdl:message>
  <wsdl:portType name="IWFReports">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/HelloWorld" message="tns:IWFReports_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/HelloWorldResponse" message="tns:IWFReports_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/RegLicense" message="tns:IWFReports_RegLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/RegLicenseResponse" message="tns:IWFReports_RegLicense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AccBalance" message="tns:IWFReports_AccBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AccBalanceResponse" message="tns:IWFReports_AccBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccStatement">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AccStatement" message="tns:IWFReports_AccStatement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AccStatementResponse" message="tns:IWFReports_AccStatement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccStatementOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AccStatementOne" message="tns:IWFReports_AccStatementOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AccStatementOneResponse" message="tns:IWFReports_AccStatementOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccBalanceCost">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AccBalanceCost" message="tns:IWFReports_AccBalanceCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AccBalanceCostResponse" message="tns:IWFReports_AccBalanceCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddList" message="tns:IWFReports_AddList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddListResponse" message="tns:IWFReports_AddList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddBalance" message="tns:IWFReports_AddBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddBalanceResponse" message="tns:IWFReports_AddBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStatement">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddStatement" message="tns:IWFReports_AddStatement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddStatementResponse" message="tns:IWFReports_AddStatement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStatementOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddStatementOne" message="tns:IWFReports_AddStatementOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddStatementOneResponse" message="tns:IWFReports_AddStatementOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStatementMaillist">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddStatementMaillist" message="tns:IWFReports_AddStatementMaillist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddStatementMaillistResponse" message="tns:IWFReports_AddStatementMaillist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStatementOneKeylist">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddStatementOneKeylist" message="tns:IWFReports_AddStatementOneKeylist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddStatementOneKeylistResponse" message="tns:IWFReports_AddStatementOneKeylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReminder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddReminder" message="tns:IWFReports_AddReminder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddReminderResponse" message="tns:IWFReports_AddReminder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReminderOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddReminderOne" message="tns:IWFReports_AddReminderOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddReminderOneResponse" message="tns:IWFReports_AddReminderOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSalesOne">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddSalesOne" message="tns:IWFReports_AddSalesOne_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddSalesOneResponse" message="tns:IWFReports_AddSalesOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSalesMaillist">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddSalesMaillist" message="tns:IWFReports_AddSalesMaillist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddSalesMaillistResponse" message="tns:IWFReports_AddSalesMaillist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/SaOrder" message="tns:IWFReports_SaOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/SaOrderResponse" message="tns:IWFReports_SaOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaOrder3in1">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/SaOrder3in1" message="tns:IWFReports_SaOrder3in1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/SaOrder3in1Response" message="tns:IWFReports_SaOrder3in1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PuOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/PuOrder" message="tns:IWFReports_PuOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/PuOrderResponse" message="tns:IWFReports_PuOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/InvLists" message="tns:IWFReports_InvLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/InvListsResponse" message="tns:IWFReports_InvLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSalesStats">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/AddSalesStats" message="tns:IWFReports_AddSalesStats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/AddSalesStatsResponse" message="tns:IWFReports_AddSalesStats_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrAssembly">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReports/PrAssembly" message="tns:IWFReports_PrAssembly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReports/PrAssemblyResponse" message="tns:IWFReports_PrAssembly_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWFReports" type="tns:IWFReports">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IWFReports/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegLicense">
      <soap:operation soapAction="http://tempuri.org/IWFReports/RegLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccBalance">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AccBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccStatement">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AccStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccStatementOne">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AccStatementOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccBalanceCost">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AccBalanceCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddList">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBalance">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatement">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatementOne">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddStatementOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatementMaillist">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddStatementMaillist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatementOneKeylist">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddStatementOneKeylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReminder">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddReminder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReminderOne">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddReminderOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesOne">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddSalesOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesMaillist">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddSalesMaillist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaOrder">
      <soap:operation soapAction="http://tempuri.org/IWFReports/SaOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaOrder3in1">
      <soap:operation soapAction="http://tempuri.org/IWFReports/SaOrder3in1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PuOrder">
      <soap:operation soapAction="http://tempuri.org/IWFReports/PuOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvLists">
      <soap:operation soapAction="http://tempuri.org/IWFReports/InvLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesStats">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddSalesStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrAssembly">
      <soap:operation soapAction="http://tempuri.org/IWFReports/PrAssembly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IWFReports" type="tns:IWFReports">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IWFReports_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IWFReports/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegLicense">
      <soap:operation soapAction="http://tempuri.org/IWFReports/RegLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccBalance">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AccBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccStatement">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AccStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccStatementOne">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AccStatementOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccBalanceCost">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AccBalanceCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddList">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBalance">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatement">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatementOne">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddStatementOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatementMaillist">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddStatementMaillist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatementOneKeylist">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddStatementOneKeylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReminder">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddReminder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReminderOne">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddReminderOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesOne">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddSalesOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesMaillist">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddSalesMaillist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaOrder">
      <soap:operation soapAction="http://tempuri.org/IWFReports/SaOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaOrder3in1">
      <soap:operation soapAction="http://tempuri.org/IWFReports/SaOrder3in1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PuOrder">
      <soap:operation soapAction="http://tempuri.org/IWFReports/PuOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvLists">
      <soap:operation soapAction="http://tempuri.org/IWFReports/InvLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalesStats">
      <soap:operation soapAction="http://tempuri.org/IWFReports/AddSalesStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrAssembly">
      <soap:operation soapAction="http://tempuri.org/IWFReports/PrAssembly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WFReports">
    <wsdl:port name="BasicHttpBinding_IWFReports" binding="tns:BasicHttpBinding_IWFReports">
      <soap:address location="http://report01.winfinans.dk/WFReports.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IWFReports" binding="tns:BasicHttpsBinding_IWFReports">
      <soap:address location="https://report.winfinans.net/WFReports.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>