App_WebReferences/WFReports/WFReports.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://report01.winfinans.dk/WFReports.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="HelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldError">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloWorldErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloWorldErrorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnGuid" type="q1:guid" />
        <xs:element minOccurs="0" name="YearID" type="xs:int" />
        <xs:element minOccurs="0" name="RepType" type="xs:int" />
        <xs:element minOccurs="0" name="RepID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccStatementResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnGuid" type="q2:guid" />
        <xs:element minOccurs="0" name="YearID" type="xs:int" />
        <xs:element minOccurs="0" name="RepType" type="xs:int" />
        <xs:element minOccurs="0" name="RepID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccBalanceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccBalanceCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnGuid" type="q3:guid" />
        <xs:element minOccurs="0" name="YearID" type="xs:int" />
        <xs:element minOccurs="0" name="RepType" type="xs:int" />
        <xs:element minOccurs="0" name="RepID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccBalanceCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccBalanceCostResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnGuid" type="q4:guid" />
        <xs:element minOccurs="0" name="YearID" type="xs:int" />
        <xs:element minOccurs="0" name="RepType" type="xs:int" />
        <xs:element minOccurs="0" name="RepID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InvListsResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnGuid" type="q5:guid" />
        <xs:element minOccurs="0" name="YearID" type="xs:int" />
        <xs:element minOccurs="0" name="RepType" type="xs:int" />
        <xs:element minOccurs="0" name="RepID" type="xs:int" />
        <xs:element minOccurs="0" name="ListID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBalanceResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnGuid" type="q6:guid" />
        <xs:element minOccurs="0" name="YearID" type="xs:int" />
        <xs:element minOccurs="0" name="RepType" type="xs:int" />
        <xs:element minOccurs="0" name="RepID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddListResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatement">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnGuid" type="q7:guid" />
        <xs:element minOccurs="0" name="YearID" type="xs:int" />
        <xs:element minOccurs="0" name="RepType" type="xs:int" />
        <xs:element minOccurs="0" name="RepID" type="xs:int" />
        <xs:element minOccurs="0" name="ListID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStatementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStatementResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnGuid" type="q8:guid" />
        <xs:element minOccurs="0" name="SaleID" type="xs:int" />
        <xs:element minOccurs="0" name="RepID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaOrderResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>