App_WebReferences/WFReports/WFReport.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WFReport" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://report01.winfinans.dk/WFReports.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://report01.winfinans.dk/WFReports.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWFReport_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IWFReport_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IWFReport_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_HelloWorldError_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldError" />
  </wsdl:message>
  <wsdl:message name="IWFReport_HelloWorldError_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AccStatement_InputMessage">
    <wsdl:part name="parameters" element="tns:AccStatement" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AccStatement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccStatementResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AccBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:AccBalance" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AccBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AccBalanceCost_InputMessage">
    <wsdl:part name="parameters" element="tns:AccBalanceCost" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AccBalanceCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccBalanceCostResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_InvLists_InputMessage">
    <wsdl:part name="parameters" element="tns:InvLists" />
  </wsdl:message>
  <wsdl:message name="IWFReport_InvLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvListsResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AddBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBalance" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AddBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AddList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddList" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AddList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddListResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AddStatement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStatement" />
  </wsdl:message>
  <wsdl:message name="IWFReport_AddStatement_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStatementResponse" />
  </wsdl:message>
  <wsdl:message name="IWFReport_SaOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaOrder" />
  </wsdl:message>
  <wsdl:message name="IWFReport_SaOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IWFReport">
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/HelloWorld" message="tns:IWFReport_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/HelloWorldResponse" message="tns:IWFReport_HelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/Ping" message="tns:IWFReport_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/PingResponse" message="tns:IWFReport_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldError">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/HelloWorldError" message="tns:IWFReport_HelloWorldError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/HelloWorldErrorResponse" message="tns:IWFReport_HelloWorldError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccStatement">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/AccStatement" message="tns:IWFReport_AccStatement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/AccStatementResponse" message="tns:IWFReport_AccStatement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/AccBalance" message="tns:IWFReport_AccBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/AccBalanceResponse" message="tns:IWFReport_AccBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccBalanceCost">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/AccBalanceCost" message="tns:IWFReport_AccBalanceCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/AccBalanceCostResponse" message="tns:IWFReport_AccBalanceCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/InvLists" message="tns:IWFReport_InvLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/InvListsResponse" message="tns:IWFReport_InvLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/AddBalance" message="tns:IWFReport_AddBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/AddBalanceResponse" message="tns:IWFReport_AddBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddList">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/AddList" message="tns:IWFReport_AddList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/AddListResponse" message="tns:IWFReport_AddList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStatement">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/AddStatement" message="tns:IWFReport_AddStatement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/AddStatementResponse" message="tns:IWFReport_AddStatement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFReport/SaOrder" message="tns:IWFReport_SaOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFReport/SaOrderResponse" message="tns:IWFReport_SaOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWFReport" type="tns:IWFReport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IWFReport/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IWFReport/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldError">
      <soap:operation soapAction="http://tempuri.org/IWFReport/HelloWorldError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccStatement">
      <soap:operation soapAction="http://tempuri.org/IWFReport/AccStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccBalance">
      <soap:operation soapAction="http://tempuri.org/IWFReport/AccBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccBalanceCost">
      <soap:operation soapAction="http://tempuri.org/IWFReport/AccBalanceCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvLists">
      <soap:operation soapAction="http://tempuri.org/IWFReport/InvLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBalance">
      <soap:operation soapAction="http://tempuri.org/IWFReport/AddBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddList">
      <soap:operation soapAction="http://tempuri.org/IWFReport/AddList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStatement">
      <soap:operation soapAction="http://tempuri.org/IWFReport/AddStatement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaOrder">
      <soap:operation soapAction="http://tempuri.org/IWFReport/SaOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WFReport">
    <wsdl:port name="BasicHttpBinding_IWFReport" binding="tns:BasicHttpBinding_IWFReport">
      <soap:address location="http://report01.winfinans.dk/WFReports.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>